// 8. LGPD (Conteiner)
$radius: 60px;
$branco: #fff;

.lgpd_conteiner{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  background: $branco;
  border-radius: $radius $radius 0 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.25rem 1.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  visibility: visible;
  opacity: 1;
  transition: .3s ease-in-out;

  @media only screen and (min-width:768px){
    padding: 2rem;
  }

  &.salvo{
      visibility: hidden;
      opacity: 0;
      transition: .3s ease-in-out;
  }
          
  .lgpd_conteudo{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;

      @media only screen and (min-width:768px){
          flex-flow: row;
      }

      .conteudo{
        svg {
          display: none;

          *.cor {
            fill: var(--primariaPrincipal);
          }
        }

        p{
          max-width: 580px;
          font-size: 0.875rem;
          text-align: center;
          margin: 0;
          }

      }

      @media only screen and (min-width: 768px){
        .conteudo{
          display: flex;
          min-width: 413px;
          max-width: 597px;
          align-items: center;
          margin-right: 3.5rem;
          justify-content: space-between;

          svg{ display: block; margin-right: 1.5rem; min-width: 88px;}

          p{ text-align: left; font-size: 1rem;}
        }
      }


      .cta{
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .config{
            text-align: center;
              padding: 0.75rem 1rem;
              margin: 0 .5rem;
              border-radius: $radius;
              font-size: 1rem;
              font-weight: $semibold;
              box-shadow: 0;
              border: none;
              cursor: pointer;
              transition: all .3s ease-in-out;
              border: 2px solid transparent;
              min-width: 140px;

              i{ margin-right: .5rem;}
          }

          .config.salvar{
              background: var(--primariaPrincipal);
              color: $branco;
              border: 2px solid var(--primariaPrincipal);

              &::before {
                @extend %fontAwesome;
                content: '\f058';
                display: inline-block;
                margin-right: 8px;
              }

              &:hover{
                  background: #056449;
                  border-color: #056449;
                  transition: all .3s ease-in-out;
              }
          }

          // .config.ler-mais{
          //   color: $laranja-medio;
          //   border: 2px solid $laranja-medio;

          //     &:hover{
          //         color: $laranja-escuro;
          //         border-color: $laranja-escuro;
          //         transition: all .3s ease-in-out;
          //     }
          // }


          @media only screen and (min-width: 768px){
            margin-top: 0;
            flex-flow: column;
            min-width: 187px;
            max-width: 398px;
 
            .config{ 
              width: 100%;
 
              &:nth-of-type(1){
                margin-bottom: 1.5rem;
              }
             }
           }

           @media only screen and (min-width: 1024px){
            flex-flow: row;
            
 
            .config{ 
              width: 100%;
              min-width: 187px;
              font-size: 1rem;
              i{ margin-right: .75rem;}
 
              &:nth-of-type(1){ margin-bottom: 0;}
             }
           }



      }      
  }
}